.bg-gradiente {
    background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
}
.bg-gradiente50 {
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6));
}
.parallax {
	background-attachment: fixed;
  	background-position: center top;
  	background-repeat: no-repeat;
  	background-size: cover;
}
.pardo{
	color: #5b3a29;
}
.bg-pardoClaro{
	background-color: #c1b9b4;
}
.pardoClaro{
	color: #c1b9b4;
}
footer{
	font-size: .75rem;
}
footer a, footer a:hover{
	color: #fff;
}
#galeriaImagen img {
	transition:all .5s ease-in-out;
}
#galeriaImagen img:hover {
	-webkit-transform:scale(1.15);
	transform:scale(1.15);
}
#galeriaImagen img {
	overflow: hidden;
}

.dropdown-toggle{
	border: 1px solid #ced4da !important;
	background: white !important;
}

.card-header{
	background-color: var(--menu-bg) !important;
}

@media (max-width: 767.98px){
	.main-sidebar, .main-sidebar::before {
		box-shadow: none !important;
		margin-left: 0px !important;
	}
}

input[type=file] {
	width: 350px;
	max-width: 100%;
	color: #444;
	padding: 5px;
	background: #fff;
	border-radius: 10px;
	border: 1px solid #555;
}

input[type=file]::file-selector-button {
	margin-right: 20px;
	border: none;
	background: #084cdf;
	padding: 10px 20px;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
}

input[type=file]::file-selector-button:hover {
	background: #0d45a5;
}